<!DOCTYPE html>
<html lang = "en">

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/mercury.css') }}">


</head>
<body>

<div class="navbar">
  <a href="http://set09103.napier.ac.uk:9135/">Home</a>
  <a href="http://set09103.napier.ac.uk:9135/stars/sun.html">Sun</a>
  <a href="http://set09103.napier.ac.uk:9135/planets/mercury.html">Mercury</a>
  <a href="#venus">Venus</a>
  <div class="dropdown">
    <button class="dropbtn">Earth
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="http://set09103.napier.ac.uk:9135/moons/moon.html">Moon</a>
    </div>
  </div>

<div class="dropdown">
   <button class="dropbtn">Mars
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Phobos</a>
      <a href="#">Deimos</a>
    </div>
  </div>


<div class="dropdown">
   <button class="dropbtn">Jupitar
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Europa</a>
      <a href="#">Ganymede</a>
      <a href="#">Io</a>
      <a href="#">Callisto</a>
    </div>
  </div>


<div class="dropdown">
   <button class="dropbtn">Saturn
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Titan</a>
      <a href="#">Enceladus</a>
      <a href="#">Mimas</a>
      <a href="#">Iapetus</a>
      <a href="#">Rhea</a>
      <a href="#">Dione</a>
      <a href="#">Phoebe</a>
    </div>
  </div>

<div class="dropdown">
   <button class="dropbtn">Uranus
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Umbriel</a>
      <a href="#">Titania</a>
      <a href="#">Miranda</a>
      <a href="#">Ariel</a>
      <a href="#">Oberon</a>
      <a href="#">Trinculo</a>
      <a href="#">Cordelia</a>
    </div>
  </div>

<div class="dropdown">
   <button class="dropbtn">Neptune
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Triton</a>
      <a href="#">Neptune XIV</a>
      <a href="#">Laomedeia</a>
      <a href="#">Proteus</a>
      <a href="#">Nereid</a>
      <a href="#">Despina</a>
      <a href="#">Galatea</a>
    </div>
  </div>

<div class="dropdown">
   <button class="dropbtn">Pluto
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Charon</a>
      <a href="#">Hydra</a>
      <a href="#">Nix</a>
      <a href="#">Styx</a>
      <a href="#">Kerberos</a>
    </div>
  </div>
</div>

<center><h1 id="heading">Mercury</h1></center>
<center><p>The closest planet to our sun.</p></center>

<div id="divcentre">

<img id="imagecentre" src="{{ url_for('static', filename='mercury.jpg') }}" width="580" height="400" >


<div id="stats"><p>The surface of Mercury is very similar to our moon. It has a very barren, rocky surface covered with many craters.</p>

<p>Being so close to the Sun, the daytime temperature on Mercury is scorching - reaching over 400 Degrees Celsius. </p>

<p>At night however, without an atmosphere to hold the heat in, the temperatures plummet, dropping to -180 Degrees Celsius.</p>

<p>Mercury has a very low surface gravity.</p>

<p>Mercury has no atmosphere which means there is no wind or weather to speak of.</p>

<p>There is also no water on the surface of Mercury, it is possible however that there could be water underneath the surface.</p>

<p>Likewise, there is no air on the surface but it could be trapped underneath.</p>

</div>
<div id="stats2"> 

<table class="infobox"><caption style="padding-bottom:1.15em;">Mercury Fun Facts</caption><tbody><tr><td>

  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr>
    <td>Length of one day</td>
    <td></td>
    <td>58 Earth days, 15Hours, 30Minutes</td>
  </tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr>
    <td>Length of one year</td>
    <td></td>
    <td>88 Earth Days</td>
  </tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr>
    <td>Moons</td>
    <td></td>
    <td>0</td>
  </tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>



</table>

<iframe width="400" height="245" src="https://www.youtube.com/embed/0KBjnNuhRHs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</div>


</body>
</html>

