<!DOCTYPE html>
<html lang = "en">

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/mercury.css') }}">


</head>
<body>

<div class="navbar">
  <a href="http://set09103.napier.ac.uk:9135/">Home</a>
  <a href="http://set09103.napier.ac.uk:9135/stars/sun.html">Sun</a>
  <a href="http://set09103.napier.ac.uk:9135/planets/mercury.html">Mercury</a>
  <a href="#venus">Venus</a>
  <div class="dropdown">
    <button class="dropbtn">Earth
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="http://set09103.napier.ac.uk:9135/moons/moon.html">Moon</a>
    </div>
  </div>

<div class="dropdown">
   <button class="dropbtn">Mars
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Phobos</a>
      <a href="#">Deimos</a>
    </div>
  </div>


<div class="dropdown">
   <button class="dropbtn">Jupitar
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Europa</a>
      <a href="#">Ganymede</a>
      <a href="#">Io</a>
      <a href="#">Callisto</a>
    </div>
  </div>


<div class="dropdown">
   <button class="dropbtn">Saturn
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Titan</a>
      <a href="#">Enceladus</a>
      <a href="#">Mimas</a>
      <a href="#">Iapetus</a>
      <a href="#">Rhea</a>
      <a href="#">Dione</a>
      <a href="#">Phoebe</a>
    </div>
  </div>

<div class="dropdown">
   <button class="dropbtn">Uranus
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Umbriel</a>
      <a href="#">Titania</a>
      <a href="#">Miranda</a>
      <a href="#">Ariel</a>
      <a href="#">Oberon</a>
      <a href="#">Trinculo</a>
      <a href="#">Cordelia</a>
    </div>
  </div>

<div class="dropdown">
   <button class="dropbtn">Neptune
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Triton</a>
      <a href="#">Neptune XIV</a>
      <a href="#">Laomedeia</a>
      <a href="#">Proteus</a>
      <a href="#">Nereid</a>
      <a href="#">Despina</a>
      <a href="#">Galatea</a>
    </div>
  </div>

<div class="dropdown">
   <button class="dropbtn">Pluto
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Charon</a>
      <a href="#">Hydra</a>
      <a href="#">Nix</a>
      <a href="#">Styx</a>
      <a href="#">Kerberos</a>
    </div>
  </div>
</div>

<center><h1 id="heading">Moon(The)</h1></center>

<div id="divcentre">

<img id="imagecentre" src="{{ url_for('static', filename='themoon.jpg') }}" width="680" height="400" >


<div id="stats"><p>The Moon is an astronomical body that orbits planet Earth and is Earth's only permanent natural satellite. It is the fifth-largest natural satellite in the Solar System, and the largest among planetary satellites relative to the size of the planet that it orbits (its primary). The Moon is after Jupiter's satellite Io the second-densest satellite in the Solar System among those whose densities are known.

<p>The Moon is thought to have formed about 4.51 billion years ago, not long after Earth. The most widely accepted explanation is that the Moon formed from the debris left over after a giant impact between Earth and a Mars-sized body called Theia.</p>

<p>The Moon is in synchronous rotation with Earth, and thus always shows the same side to earth, the near side. The near side is marked by dark volcanic maria that fill the spaces between the bright ancient crustal highlands and the prominent impact craters. After the Sun, the Moon is the second-brightest regularly visible celestial object in Earth's sky. Its surface is actually dark, although compared to the night sky it appears very bright, with a reflectance just slightly higher than that of worn asphalt. Its gravitational influence produces the ocean tides, body tides, and the slight lengthening of the day.</p>

<p>The Moon's average orbital distance is 384,402 km (238,856 mi),[13][14] or 1.28 light-seconds. This is about thirty times the diameter of Earth. The Moon's apparent size in the sky is almost the same as that of the Sun (because it is 400x farther and larger). Therefore, the Moon covers the Sun nearly precisely during a total solar eclipse. This matching of apparent visual size will not continue in the far future, because the Moon's distance from Earth is slowly increasing.</p>

<p>The Moon was first reached in 1959 by an unmanned spacecraft of the Soviet Union's Luna program; the United States' NASA Apollo program achieved the only manned lunar missions to date, beginning with the first manned orbital mission by Apollo 8 in 1968, and six manned landings between 1969 and 1972, with the first being Apollo 11. These missions returned lunar rocks which have been used to develop a geological understanding of the Moon's origin, internal structure, and the Moon's later history. Since the Apollo 17 mission in 1972, the Moon has been visited only by unmanned spacecraft.</p>

<p>Both the Moon's natural prominence in the earthly sky and its regular cycle of phases as seen from Earth have provided cultural references and influences for human societies and cultures since time immemorial. Such cultural influences can be found in language, lunar based calendar systems, art, and mythology.</p>

</div>
<div id="stats2"> 

<table class="infobox"><caption style="padding-bottom:1.15em;">Mercury Fun Facts</caption><tbody><tr><td>

  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr>
    <td>Earth Orbit Time</td>
    <td></td>
    <td>27.3 Days</td>
  </tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr>
    <td>Tallest Mountain</td>
    <td></td>
    <td>Mons Huygens is the tallest mountain on the Moon, it is 4700 metres tall, just over half the height of Mt Everest (8848m).</td>
  </tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr>
    <td>Gravity</td>
    <td></td>
    <td>The effect of gravity is only about one fifth (17%) as strong on the surface of the Moon compared to the strength of gravity on the surface of the Earth.</td>
  </tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  
    



</table>

<iframe width="400" height="245" src="https://www.youtube.com/embed/6AviDjR9mmo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</div>


</body>
</html>

